<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link th:rel="@{/css/gtvg.css}">
<title>Welcome Home</title>
</head>
<body>
	<h1 th:text="${welcome}">요청 데이터 처리</h1>
	
	<!-- 로케일 출력 -->
	<h1 th:text="#{hello.world}">로케일 처리</h1>
	
	<!-- utext : html 태그들을 escape하지 않고 표시할때 유용 -->
	<p th:utext="#{home}">Escape 하지 않는 문자열 처리</p>
	
	<p th:text="${session.user.userName} + ' in http session'">세션에 있는 데이터 처리</p>
	
	<p th:utext="#{welcome.user(${session.user.userName})}">파라미터가 있는 메시지 처리</p>
</body>
</html>
