<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link th:rel="@{/css/gtvg.css}">
<title>Welcome Home</title>
</head>
<body>
	<h1 th:text="${welcome}">요청 데이터 처리</h1>
	
	<!-- 로케일 출력 -->
	<h1 th:text="#{hello.world}">로케일 처리</h1>
	
	<!-- utext : html 태그들을 escape하지 않고 표시할때 유용 -->
	<p th:utext="#{home}">Escape 하지 않는 문자열 처리</p>
	
	<p th:text="${session.user.userName} + ' in http session'">세션에 있는 데이터 처리</p>
	
	<p th:text="#{welcome.user(${session.user.userName})}">파라미터가 있는 메시지 처리</p>
	
	<p th:text="#{multi.param('hello', 'world')}">멀티 파라미터 테스트</p>
	
	<p th:text="${#temporals.format(today,'dd MMMM yyyy')}">날짜 포매팅</p>
	

	<table border="1">
		<tr>
			<td>INDEX</td>
			<td>SIZE</td>
			<td>ODD/EVEN</td>
			<td>USERNAME</td>
		</tr>
		
		<tr th:each="member, iterState : ${list}">
			<td th:text="${iterState.index}">리스트 현재 인덱스</td>
			<td th:text="${iterState.size}">리스트 전체 사이즈</td>
			<td th:text="${iterState.odd + ' ' + iterState.even}">현재 출력데이터가 홀수 번째인지 짝수번째 인지 여부</td>
			<td th:text="${member.userName}">유저이름</td>
		</tr>
	</table>

</body>
</html>
