<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- 자바스크립트에서 타임리프 요청값 참조 -->
<script th:inline="javascript">
var hello = /*[[${welcome}]]*/"";
console.log(hello);
</script>

<link th:rel="@{/css/gtvg.css}"> <!-- 링크 처리 -->
<title>Welcome Home</title>
</head>
<body>
	<h1 th:text="${welcome}">요청 데이터 처리</h1>
	
	<!-- 로케일 출력 -->
	<h1 th:text="#{hello.world}">로케일 처리</h1>
	
	<!-- utext : html 태그들을 escape하지 않고 표시할때 유용 -->
	<p th:utext="#{home}">Escape 하지 않는 문자열 처리</p>
	
	<p th:text="${session.user.userName} + ' in http session'">세션에 있는 데이터 처리</p>
	
	<p th:text="#{welcome.user(${session.user.userName})}">파라미터가 있는 메시지 처리</p>
	
	<p th:text="#{multi.param('hello', 'world')}">멀티 파라미터 테스트</p>
	
	<p th:text="${#temporals.format(today,'dd MMMM yyyy')}">java.time.LocalDateTime 날짜 포매팅</p>
	
	<p th:text="${#dates.format(date, 'yyyy-mm-dd')}">java.util.Date 포매팅</p>
	
	<div th:with="curTime=${#dates.createToday()}">
		<p>현재 시간 : [[${curTime}]]</p>
	</div>
	
	<p th:text="${#numbers.formatInteger(number,3,'COMMA')}">숫자에 3자리 단위로 COMMA 입력</p>
	<div th:with="priceValue=99.82738">
		<p th:text="${#numbers.formatInteger(priceValue,3,'COMMA')}">소수를 정수로 표현</p>
		<p th:text="${#numbers.formatDecimal(priceValue,5,10,'POINT')}">소수 표현</p>
	</div>
	
	
	<p th:with="target='u0001'" th:text="${var == target}? #{true} : #{false}">조건식 사용</p>
	<p th:text="${list.size()}">리스트 사이즈1</p>
	<p th:text="${#lists.size(list)}">리스트 사이즈2</p>
	
	<table border="1">
		<tr>
			<td>INDEX</td>
			<td>SIZE</td>
			<td>ODD/EVEN</td>
			<td>USERNAME</td>
		</tr>
		
		<tr th:each="member, iterState : ${list}">
			<td th:text="${iterState.index}">리스트 현재 인덱스</td>
			<td th:text="${iterState.size}">리스트 전체 사이즈</td>
			<td th:text="${iterState.odd + ' ' + iterState.even}">현재 출력데이터가 홀수 번째인지 짝수번째 인지 여부</td>
			<td th:text="${member.userName}">유저이름</td>
		</tr>
	</table>
	
	
	<p th:with="target='u0001'" th:text="${var == target} ? 'SECRET' : ${var}">지역변수 선언 및 활용</p>
	
	
		
	<table border="1">
		<caption>if unless를 통한 if else 처리</caption>
		<tr>
			<td>INDEX</td>
			<td>SIZE</td>
			<td>ODD/EVEN</td>
			<td>USERNAME</td>
		</tr>
		
		<tr th:each="member, iterState : ${list}">
			<td>
				<!-- if unless는 조건 값을 동등하게 줘야한다 그래야 작동됨 -->
				<a th:if="${iterState.index eq 0}" href="#">MODIFY</a>
				<a th:unless="${iterState.index eq 0}" href="#" >VIEW</a>
			</td>
			<td th:text="${iterState.size}">리스트 전체 사이즈</td>
			<td th:text="${iterState.odd + ' ' + iterState.even}">현재 출력데이터가 홀수 번째인지 짝수번째 인지 여부</td>
			<td th:text="${member.userName}">유저이름</td>
		</tr>
	</table>
	
	
	<table border="1">
		<caption>switch case 문 처리</caption>
		<tr>
			<td>INDEX</td>
			<td>SIZE</td>
			<td>ODD/EVEN</td>
			<td>USERNAME</td>
		</tr>
		
		<tr th:each="member, iterState : ${list}">
			<td th:switch="${iterState.index}">
				<a th:case="0" href="#">ADMIN</a>
				<a th:case="1" href="#">MANAGER</a>
				<a th:case="*" href="#">GUEST</a> <!-- * 디폴트 -->
			</td>
			<td th:text="${iterState.size}">리스트 전체 사이즈</td>
			<td th:text="${iterState.odd + ' ' + iterState.even}">현재 출력데이터가 홀수 번째인지 짝수번째 인지 여부</td>
			<td th:text="${member.userName}">유저이름</td>
		</tr>
	</table>
</body>
</html>
